---
import '../styles/global.css';
import Nav from '../components/NavTimeline.astro';
import Blob from '../components/BlobBackground.astro';
const { title = 'Whit Cooper', description = 'Creative Wizardry' } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <Blob />
    <Nav />
    <slot />
    <script src="/magic-cursor.js" is:inline></script>
  </body>
</html>
